/ template from https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_app_launch&stacked=h
- flash.each do |key, value|
  = content_tag :div, value, class: "flash #{key}"
.w3-content.w3-black
  %header.w3-display-container.w3-center
    .mySlides.w3-animate-opacity
      %img.w3-image
        = image_tag('app.jpg')
      .w3-display-left.w3-padding.w3-hide-small
        .w3-black.w3-opacity.w3-hover-opacity-off.w3-padding-large.w3-round-large
          %h1.w3-xlarge The most popular track of your favourite artist on Spotify!
          %hr.w3-opacity/
          %p Just put your telephone number and the name of your favourite artist
          %p
          = simple_form_for(User.new, method: :post, url: send_sms_path) do |f|
            = f.input :telephone, label: 'Your telephone number please:'
            = simple_fields_for Artist.new do |a|
              = a.input :name, label: "Your favourite artist's name:"
            %button.w3-button.w3-block.w3-green.w3-round{:id => "submit_button"}
              = f.submit 'Receive sms', :id => "receive_sms"


